<a href="https://colab.research.google.com/github/Shehbaz-Niazi/Agentic_AI-Python-Projects/blob/main/ClassWork/2_String%26FString.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **\ (Back Slash)**

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

print("Name: ", name)
print("Father's Name: ", fname)
print("Age: ", age)
print("Education: ", education)

Name:  Shehbaz Niazi
Father's Name:  Niaz muhammad Niazi
Age:  19
Education:  Intermediate in Pre-medical

# Use Back slash \n to change or skip lines

In [ ]:
full_Detail = "Name: Shehbaz Niazi: \nfather_Name: Niaz Muhammad Niazi"
print(full_Detail)

Name: Shehbaz Niazi:
father_Name: Niaz Muhammad Niazi

## Convert any special character into any simple character

we are using string text and inside this string text we are using another string text

In [ ]:
double_String = "Name: \"Shehbaz Niazi\" \nfather_Name: \"Niaz Muhammad Niazi\""
print(double_String)

Name: "Shehbaz Niazi"
father_Name: "Niaz Muhammad Niazi"

In [ ]:
single_String: str = 'Name: \'Shehbaz Niazi\' \nfather_Name: \'Niaz Muhammad Niazi\''
print(single_String)

Name: 'Shehbaz Niazi'
father_Name: 'Niaz Muhammad Niazi'

# **String Bondries**

In this case we are using the backslash n (\n) and the plus operator too often and that is why it is not a good technique.

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card: str = "Name: " + name + "\nfather_Name: " + fname + "\nage: " + str(age) + "\neducation: " + education
print(card)

Name: Shehbaz Niazi
father_Name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical

In [ ]:
"a" + str(7)

'a7'

we are using (backslash) \ to continue the lines

In [ ]:
print(10\
      +10\
      +10)

30

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card: str = "Name: " + name + "\nfather_Name: " \
+ fname + "\nage: " \
+ str(age) + "\neducation: " \
+ education
print(card)

Name: Shehbaz Niazi
father_Name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical

# **Define Multi Strings (""" """)(''' ''') single quotes and double quotes**

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

# if we write anything inside triple double quotes  in python it will appear exactly as it is shown
card: str = """
name: name.......
father_Name: fname.....
age: age......
education: education......
"""

# single triple quotes use case are same as triple double quotes
card2: str = '''
name: name.......
father_Name: fname.....
age: age......
education: education......
'''

print(card)
print(card2)

name: name.......
father_Name: fname.....
age: age......
education: education......


name: name.......
father_Name: fname.....
age: age......
education: education......

##**F-string pthon**

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

# In f-string we use curly braces and inside this braces we use global variable and it show its variable value not variable name
card3: str = f"""
name: {name}
father_Name: {fname}
age: {age}
education: {education}
"""

print(card3)

name: Shehbaz Niazi
father_Name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

# we can use single triple quotes with f-string. It will work

card4: str = f'''
name: {name}
father_Name: {fname}
age: {age}
education: {education}
'''

print(card4)

name: Shehbaz Niazi
father_Name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical

We can use different type of oprations inside the f-string

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card5: str = f'''
name: {name}
father_Name: {fname}
age: {age}
education: {education}
Total : {10 + 20 + 20}

'''

print(card5)

name: Shehbaz Niazi
father_Name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical
Total : 50

# **F-String and jinga Style**

In [ ]:
student_Name: str = {name}
f"""
Student Name: {student_Name}
"""

"\nStudent Name: {'Shehbaz Niazi'}\n"

**Jinja Style**

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card6: str = f"""
Student Name: %s
father_name: %s
age: %d
education: %s
""" % (name, fname, age, education)

print(card6)

Student Name: Shehbaz Niazi
father_name: Niaz muhammad Niazi
age: 19
education: Intermediate in Pre-medical

In [ ]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# **String Methods**

In [ ]:
a = 10
b = 20

"The total sum of a = {} and b = {} is ".format(a,b)

'The total sum of a = 10 and b = 20 is '

Capitalize || lower Methode

In [ ]:
name: str = "ShEhBaz NIazI"
print(name.capitalize())
print(name.lower())

Shehbaz niazi
shehbaz niazi

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card7: str = """
PIAIC Student Card
Student Name: {}
Father Name: {}
Age: {}
Education: {}
""".format(name,fname,age,education)

print(card7)

PIAIC Student Card
Student Name: Shehbaz Niazi
Father Name: Niaz muhammad Niazi
Age: 19
Education: Intermediate in Pre-medical

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card8: str = """
PIAIC Student Card
Student Name: {0}
Father Name: {1}
Age: {2}
Education: {3}
""".format(name,fname,age,education)

print(card8)

PIAIC Student Card
Student Name: Shehbaz Niazi
Father Name: Niaz muhammad Niazi
Age: 19
Education: Intermediate in Pre-medical

In [ ]:
name: str = "Shehbaz Niazi"
fname: str = "Niaz muhammad Niazi"
age: int = 19
education: str = "Intermediate in Pre-medical"

card9: str = """
PIAIC Student Card
Student Name: {a}
Father Name: {b}
Age: {c}
Education: {d}
""".format(a=name,b=fname,c=age,d=education)

print(card9)

PIAIC Student Card
Student Name: Shehbaz Niazi
Father Name: Niaz muhammad Niazi
Age: 19
Education: Intermediate in Pre-medical

In [ ]:
studentTotalCost:str = """
print("My name is Shehbaz Khan Niazi")
a: int = 10
b: int = 20
print(a+b)
"""

exec(studentTotalCost)

My name is Shehbaz Khan Niazi
30

**String Methods**

*   casefold
*   capitalize
*   upper
*   lower

In [ ]:
name: str = "ShEhBaz NIazI"
print(name.casefold())
print(name.capitalize())
print(name.lower())
print(name.upper())

shehbaz niazi
Shehbaz niazi
shehbaz niazi
SHEHBAZ NIAZI

In [ ]:
name: str = "        Shehbaz Niazi         "

display(name.lstrip())
display(name.rstrip())
display(name.strip())

'Shehbaz Niazi         '

'        Shehbaz Niazi'

'Shehbaz Niazi'

In [ ]:
name: str = "Shehbaz           Niazi"

display(name.strip())

'Shehbaz           Niazi'

In [ ]:
import re

name: str = "Shehbaz           Niazi"
name1: str = re.sub(' {2,100}', '  ', name).strip()

display(name1)

'Shehbaz  Niazi'

In [ ]:
print("Name: \t\tShehbaz Niazi")

Name: 		Shehbaz Niazi

In [ ]:
print("Name: \nShehbaz Niazi")

Name:
Shehbaz Niazi

In [ ]:
print("Name: \bShehbaz Niazi")

Name: Shehbaz Niazi

In [ ]:
nostarch_url:str = 'https://shehbazkhan_niazi.com'
nostarch_url.removeprefix("https://")

'shehbazkhan_niazi.com'