<a href="https://colab.research.google.com/github/Shehbaz-Niazi/Agentic_AI-Python-Projects/blob/main/ClassWork/4_List%26Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List and its Methods**

In [ ]:
# Old way of accessing elements within a list

names = ["Shehbaz", "Haris", "David", "Alam", "Abubakar"]
print(names[0])
print(names[-3])

print(names[-2])

Shehbaz
David
Alam

In [ ]:
from typing import Any

names: list[Any] = ["shehbaz", "Haris", "David", "Alam", 12, True]
print(names[-2])

12

In [ ]:
#                       0         1        2        3     4    5
names: list[Any] = ["shehbaz", "Haris", "David", "Alam", 12, True]
#                     -6        -5       -4       -3     -2   -1

print(names[-4])

David

In [ ]:
'abcdef'

'abcdef'

In [ ]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
characters: list[str] = list('ABCDEFHIJKLMNOPQRSTUVWXYZ')
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters: list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

# The default slicing goes from left to right.
print(characters[0:2]) # 0= include : index 2-1 = 1
print(characters[:4]) # Zero will be added if we do not initialize the index.
print(characters[-26:-24]) # 0= include : index -24-1 = -25
print(characters[0:2:1]) # 0= include : index 2-1 = 1
print(characters[0:2:]) # 0= include : index 2-1 = 1
print(characters[0:2:]) # 0= include : index 2-1 = 1

['A', 'B']
['A', 'B', 'C', 'D']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

print(characters[1:-3]) #

['B', 'C', 'D', 'E']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

print(characters[-2:-5])

[]

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5   -4   -3   -2   -1

print(characters[-2:-5:-1])

['G', 'F', 'E']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[::-1]) # reverse elements

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

# **List Methods**

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
[i for i in dir(list) if "__"  not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a: list[str] = [1,2,3]
print(a)

[1, 2, 3]

 **1- del**

---
del remove variable from memory not item

In [ ]:
a: list[str] = [1,2,3]
del a
print(a)

**2- Clear**

---
 clear methode remove items with in the array

In [ ]:
a: list[str] = [1,2,3]
a.clear()
print(a)

[]

**3- Help Function**

---
Help on built-in function print in module builtins:

*   help(object)
*   object?
*   object??
*   ?object
*   ??object

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
from typing import Any
names: list[Any] = ["shehbaz", "Haris", "David", "Alam", 12, True]
print(names)

names[0] = "Niaz muhammad" # mutable
print(names)

['shehbaz', 'Haris', 'David', 'Alam', 12, True]
['Niaz muhammad', 'Haris', 'David', 'Alam', 12, True]

In [ ]:
names: list[Any] = ["shehbaz", "Haris", "David", "Alam", 12, True]
print(names)

del names[4] # delete 3 index element
print(names)

['shehbaz', 'Haris', 'David', 'Alam', 12, True]
['shehbaz', 'Haris', 'David', 'Alam', True]

In [ ]:
a: str = print("United States Of America")
print(a) # its showed none because print is none return function

United States Of America
None

**4- Pop**

---
 pop remove last elements in the list

In [ ]:
names: list[Any] = ["shehbaz", "Haris", "David", "Alam", 12, True]
print(names)

popped_names: str = names.pop()
print(f"Popped name: {popped_names}")
print(names)

popped_names_fromIndex = names.pop(2) # pop remove 2 index element
print(f"Popped name: {popped_names_fromIndex}")
print(names)

['shehbaz', 'Haris', 'David', 'Alam', 12, True]
Popped name: True
['shehbaz', 'Haris', 'David', 'Alam', 12]
Popped name: David
['shehbaz', 'Haris', 'Alam', 12]

**5- Append**

---
add Elements in the last of list

In [ ]:
myList: list[str] = ['a','b','c']
print(myList)

myList.append('d')
myList.append('e')
myList.append('f')
print(myList)

['a', 'b', 'c']
['a', 'b', 'c', 'd', 'e', 'f']

**5- Insert**

---
Insert Methode add values in particular position

In [ ]:
names: list[str] = ["shehbaz", "Haris", "David", "Alam"]
print(names)

names.insert(1, "Niaz Muhammad")
print(names)

['shehbaz', 'Haris', 'David', 'Alam']
['shehbaz', 'Niaz Muhammad', 'Haris', 'David', 'Alam']

**Shallow Copy and Deep Copy**

In [ ]:
# shallow copy

character: list[str] = ["a", "b", "c"]
characters = character

print(characters)
print(character)

characters[1] = "khan"

print(characters)
print(character)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'khan', 'c']
['a', 'khan', 'c']

In [ ]:
# Deep Copy

character: list[str] = ["a", "b", "c"]
characters = character.copy() # copy methode creates a new list

print(characters)
print(character)

characters[1] = "khan"

print(characters)
print(character)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'khan', 'c']
['a', 'b', 'c']

**6- Count**

In [ ]:
names : list[str] = ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam"]
new_friends: list[str] = ['Abubakar', 'Danyal', 'Osama']
friends.append(new_friends)
print(friends) # append add list inside the another list not add items

['shehbaz', 'Haris', 'David', 'Alam', ['Abubakar', 'Danyal', 'Osama']]

**7- Extend**

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam"]
new_friends: list[str] = ['Abubakar', 'Danyal', 'Osama']
friends.extend(new_friends) #extend add list elements inside the another list
print(friends)

['shehbaz', 'Haris', 'David', 'Alam', 'Abubakar', 'Danyal', 'Osama']

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam"]
del friends[1:3]  # remove with index number
print(friends)

['shehbaz', 'Alam']

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam"]
friends.remove("Alam")
print(friends) # remove with text value

['shehbaz', 'Haris', 'David']

**8- Index**

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam"]
friends.index("Haris")

1

In [ ]:
friends: list[str] = ["shehbaz", "Haris", "David", "Alam", "shehbaz", "Haris"]
friends.index("shehbaz", 1)

4

**9- Reverse**

In [ ]:
character: list[str] = list("ABCDEF")
print(character)

character.reverse()
print(character)

['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

**10-  Sort**

In [ ]:
character: list[str] = list("ABCDEF")
print(character)

character.reverse()
print(character)

character.sort()
print(character)

['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']
['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
character: list[str] = list("126354")
print(character)
character.sort(reverse=True)
print(character)

['1', '2', '6', '3', '5', '4']
['6', '5', '4', '3', '2', '1']