<a href="https://colab.research.google.com/github/Shehbaz-Niazi/Agentic_AI-Python-Projects/blob/main/ClassWork/7_Dictionary_Set_DC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dictionary in Python**

In [6]:
from typing import Dict
data: Dict = {
    "Name":"Shehbaz Niazi",
    "Fname":"Niaz Muhammad",
    "age": "18",
    "Education": "BSAI",
}

print(data)
print(data["Name"]) # access key
print(data["Fname"])  # access key

{'Name': 'Shehbaz Niazi', 'Fname': 'Niaz Muhammad', 'age': '18', 'Education': 'BSAI'}
Shehbaz Niazi
Niaz Muhammad

**Create custom data type**

In [11]:
from typing import Dict, Union, Optional

key = Union[int,str]
Value = Union[int,str]

data: Dict[key, Value] = {
    "Name":"Shehbaz Niazi",
    "Fname":"Niaz Muhammad",
    "age": "18",
    "Education": "BSAI",
}

print(data)

{'Name': 'Shehbaz Niazi', 'Fname': 'Niaz Muhammad', 'age': '18', 'Education': 'BSAI'}

**we can use tuple, list, set in dictionary**

In [15]:
from typing import Dict, Union, Optional
import pprint

key = Union[int,str]
Value = Union[int,str]

data: Dict[key, Value] = {
    "Name":"Shehbaz Niazi",
    "Fname":"Niaz Muhammad",
    "age": "18",
    "Education": "BSAI",
    "Hobbies" : ["Cricket", "Reading", "Hourse Riding"],
    "Tuple" : (0,"Learning", 1,"Experience", 2,"Writing"),
}

pprint.pprint(data)

{'Education': 'BSAI',
 'Fname': 'Niaz Muhammad',
 'Hobbies': ['Cricket', 'Reading', 'Hourse Riding'],
 'Name': 'Shehbaz Niazi',
 'Tuple': (0, 'Learning', 1, 'Experience', 2, 'Writing'),
 'age': '18'}

In [26]:
from typing import Dict, Union, Optional
import pprint

key = Union[int,str, tuple]
Value = Union[int,str,tuple]

data: Dict[key, Value] = {
    "Name":"Shehbaz Niazi",
    "Fname":"Niaz Muhammad",
    "age": "18",
    "Education": "BSAI",
    "Hobbies" : ["Cricket", "Reading", "Hourse Riding"],
    "Tuple" : (0,"Learning", 1,"Experience", 2,"Writing"),
}


print(data["Name"])
print(data["Fname"])
print(data["Hobbies"][2])
print(data["Tuple"])

Shehbaz Niazi
Niaz Muhammad
Hourse Riding
(0, 'Learning', 1, 'Experience', 2, 'Writing')

In [55]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.keys()) # keys
print(data.values()) # values
print(data.items())

for k,v in data.items():
    print(k,v)

dict_keys(['fname', 'name', 'education'])
dict_values(['Muhammad Aslam', 'Muhammad Qasim', 'MSDS'])
dict_values(['Muhammad Aslam', 'Muhammad Qasim', 'MSDS'])
dict_items([('fname', 'Muhammad Aslam'), ('name', 'Muhammad Qasim'), ('education', 'MSDS')])
fname Muhammad Aslam
name Muhammad Qasim
education MSDS

# **Set in Dictionary**

In [28]:
data : set = {7,1,2,1,1,1,1,3,2}
print(data)

{1, 2, 3, 7}

In [53]:
from typing import Dict
data:Dict = {"Shehbaz":"Niazi"}
result = []

for i in dir(data):
  if "__" not in i:
    result.append(i)

for i in result:
  print(i)

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [44]:
data = []

for i in dir(set):
  if "_" not in i:
    data.append(i)

print(data)

['add', 'clear', 'copy', 'difference', 'discard', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'union', 'update']

In [50]:
[i for i in dir(set) if "_" not in i]

['add',
 'clear',
 'copy',
 'difference',
 'discard',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'union',
 'update']

In [47]:
data : set = {7,1,2,1,1,1,1,3,2}
print(data) # return unique

{1, 2, 3, 7}

In [48]:
abc : set = {1,2,3,2,2,2,1}
print(abc)
xyz : list[int] = list(abc)
print(xyz)

{1, 2, 3}
[1, 2, 3]

In [56]:
a : int = 7
b : int = 9

a, b = b, a # shuffle

print(a,b)

9 7

In [58]:
keys : list[str] = ['id','name','fname','course']

data : dict[Key,Value] = {}

print(data)

data = data.fromkeys(keys) # inline

print(data)

{}
{'id': None, 'name': None, 'fname': None, 'course': None}